<html lang="{{lang.language}}">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="js/jquery-3.7.1.min.js"></script>

		<title>404</title>

		<link rel="stylesheet" href="scss/404.scss" />

		<script defer="true" src="ts/universal.ts"></script>
		<script defer="true" src="ts/404.ts"></script>
	</head>
	<body>
		<h1>404</h1>
	</body>
</html>